/*custom block constructs*/
.btn{
  a{
    font-variant: small-caps;
    @include transition-duration(.420s);
    &:focus,
    &:hover{
      
    }
  }
  &.btn-default{
    
  }
  &.btn-info{
    a{
      
    }
  }
  &.btn-primary{
    
  }
  
}
.page-a-day{
  $pad-padding = 3px;
  display: inline-block;
  position: relative;
  width: 4em;
  height: 4em;
  margin: 5px;
  border: 1px solid #e4d1b2;
  @include border-radius($small-corners);
  background: $overlay-bg-color;
  color: $sassy-orange;
  
  padding: $pad-padding;
  b{
    display: block;
    font-size: .5em;
    line-height: 1em;
    &:nth-of-type(1) {
      text-align: center;
      font-size: 1.5em;
      background: rgba(255, 255, 255, 0.3);
      @include border-radius($small-corners $small-corners 0 0);
      margin: auto calc(-$pad-padding);
    }
    .&:nth-of-type(2) {
      font-size: 0.33em;
    }
    &:nth-of-type(3) {
      font-size: 1.75em;
      text-align: right;
    }
    &:nth-of-type(4) {    
      font-size: 0.33em;
      @include translateY(-2.5rem);
    }
    &:nth-of-type(5) {
      font-size: 1em;
    }
    &:nth-of-type(6) {
      font-size: 1em;
    }
  }
}
.bg-white{
  background: rgba(255, 255, 255, 1);
}
.bg-light{
  background: rgba(255, 207, 185, 0.3);
}
.bg-dark{
  background: rgba(0, 0, 0, 0.3);
}
.important{
  color: orange;
  background: white;
  border: 1px solid blue;
  @include border-radius($small-corners);
}
.social{
  >a{
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    line-height: 32px;
    width: 32px;
    height: 32px;
    color: rgba($basecolor, $basecolor-dim);
    @include transition-duration(.420s);
    
    
    &:hover,
    &:focus{
      color: white;
      font-size: 24px;
    }
    
  }
}